.meta-table {
    table-layout: fixed;
  }
.form-row {
    margin-bottom: 0.2rem;
}
.form-row label:first-child {
    padding-right: 1rem;
}
.form-row label:nth-child(2) {
    font-weight: 500;
}
.form-row:hover {
    background: #f6f8f9;
}
.form-row .col-form-label {
    padding: 0.2rem 5px;
}
@media (min-width: 768px) {
    .form-row label:first-child {
        text-align: end;
    }
}
a {
    cursor: pointer
}